body {
	color: #706c6e;
	font-family: tahoma, arial,sans-serif;
	font-size: 14px;
}

.content {
	border: 2px solid #CCC;
	margin: 0 auto;
	padding: 10px;
	width: 600px;
	position: relative;
	}

header {
	background: #e0e2e6;
	padding: 10px;
	display: block;
}

.logo{
	background: url("logo3.png") no-repeat;
	#background-position: center;
	margin: 0 auto;
	text-indent: -20000px;
	height: 75px;
	width: 250px;
	display: block;
}

.logo:hover, .logo:focus {
	background-position: 0 -75px;
}

.logo:active {
  background-position: 0 -150px;
}

h1{
	color: #7ab2c1;
	text-align: center;
	margin: 0 0 10px 0;
}

h2{
	color: #999;
	font: italic 18px/24px Georgia, serif;
	text-align: center;
	margin: 0;
}

h3{
	color: #848990;
	font: bold 16px/20px Tahoma, Arial, sans-serif;
	margin: 0 0 15px 0;
}

h4{
	color: #423e40;
	font: italic 12px/17px Georgia, serif;
	margin: 0 0 10 0;
	text-align: center;
}
p{
	font-size:14px;
	margin: 0 0 15px;
	line-height: 19px;
}

.maincontent {
	border: 2px dashed #ccc;
	margin: 10px auto;
	padding: 10px;
	width: 600px;
	}
	
aside {
	float: right;
	width: 	120px;
	margin: 0px 0px 10px 10px;
	font-style: normal;
}

article {
	margin: 0 0 20px 0;
}

article h1 {
  text-align: left;
}

article p {
	margin: 0 0 15px 0;
}


aside p {
	font-size: 10px;
	font-style: italic;
}

aside p a{
	font-style: normal;
}
.clear {
	clear:both;
}

nav {
	background: #e0e2e6;
	font-size: 12px;
	margin: 0 auto 10px auto;
	padding: 5px 15px 5px 15px;
	width: 600px;
}

nav ul{
	margin: 0;
	padding:0;
}


a {
	color: 	#a1805c;
	text-decoration: none;
}

.active a{
	color:#826c55;
}

li {
	display: inline;
	padding: 5px;
}

nav li a {
	font-weight: bold;
	vertical-aligh: baseline;
}

main {
	border: 2px dashed #ccc;
	padding: 15px 15px 0;
	width: 460px;
	margin: 0 auto;
}

article .button {
	background:#7ab2c1;
	color: white;
	padding: 5px 10px;
	text-align: center;
	font-size: 12px;
	border-radius: 3px;
	font-weight: bold;
}

.more {
	background: url("arrow.png") no-repeat;
	background-position: top right;
	background-color: #c09d78;
	padding: 10px 100px;
	margin: 0 auto;
	line-height: 40px;
	color: white;
}


.store li{
	height: 155px;
	width: 155px;
	overflow: hidden;
	display: inline;
	float: left;
	border: 5px solid #fff;
	margin: 0 15px 15px 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.store li img {
  height: 150px;
  width: auto;
}

footer {
	margin: 20px auto;
	width: 600px;
	position: relative;
}

.primary p{
	margin: 0;
}

.primary .copyright{
	font-size: 10px;
}

.newsletter{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(64, 61, 63, 0.8);
	color:#fff;
}

.newsletter a{
	color: #7ab2c1;
}


footer figure{
	background: #e0e2e6;
	border: 1px solid #c5c9cf;
	height: 88px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 15px;
	margin: 0;
}